extends layout

block content
    a(href='/') Home Page
    p Category LOL!
    p= category.name
    p= category.description
    each good in goods
        a(href=`/${good.url}`)= good.name
        br
    a(href=`/categories/update/${category.id}`)
        button Edit
    form(method='POST', action=`/categories/delete/${category.id}`)
        button Delete